# Python
__pycache__/
*.py[cod]
*.pyo

# Virtual Environment
venv/
.venv/
env/

# Environment Variables
.env

# Flask
instance/

# VS Code
.vscode/

# macOS
.DS_Store

# Logs
*.log

# SQLite
*.db
*.sqlite3