{% extends "base.html" %}
{% block title %}Contact{% endblock %}

{% block content %}

<div class="container my-5">
    <div class="text-center p-5 rounded-4 shadow"
         style="background:linear-gradient(135deg,#7b150f,#a84a2c); color:white;">

        <h2 style="font-family:'Merienda';">Contact the Priest</h2>

        <p style="margin-top:15px;">Venkatacharya Samudrala</p>
        <p>📞 301-523-1926</p>
        <p>
            ✉️ <a href="mailto:acharya88@gmail.com" style="color:#ffd27d;">
                acharya88@gmail.com
            </a>
        </p>

    </div>
</div>

{% endblock %}